[Desktop Entry]
Name=QText
GenericName=Notes
Comment=Note taking utility with auto-save
TryExec=/opt/qtext/qtext
Exec=env QT_QPA_PLATFORM=xcb /opt/qtext/qtext %f
Icon=qtext
Type=Application
Categories=GTK;GNOME;Utility;
X-KDE-Shortcuts=Ctrl+Shift+Q
